.tabContainer {
	position: absolute;
	bottom: 0;
	background: $white;
	width: 100%;
	height: 2.5rem;
	.tabCount {
		width: 10vw;
		font-weight: bold;
		text-align: center;
		@include if-device(phone) {
			width: 30vw;
		}
		@include if-device(tablet) {
			width: 15vw;
		}
	}
}
